lab-1-1/board/helloworld.bin
lab-1-1/board/helloworld.elf
lab-1-1/board/helloworld.map
lab-1-1/board/helloworld.hex
lab-1-2/board/benchmark.bin
lab-1-2/board/benchmark.elf
lab-1-2/board/benchmark.map
lab-1-2/board/benchmark.hex
coursework/board/target.bin
coursework/board/target.elf
coursework/board/target.map
coursework/board/target.hex
coursework/scope/traces.dat
coursework/scope/.ipynb_checkpoints/
