labs/lab-1-1/board/helloworld.bin
labs/lab-1-1/board/helloworld.elf
labs/lab-1-1/board/helloworld.map
labs/lab-1-1/board/helloworld.hex
labs/lab-1-2/board/benchmark.bin
labs/lab-1-2/board/benchmark.elf
labs/lab-1-2/board/benchmark.map
labs/lab-1-2/board/benchmark.hex
labs/coursework/board/target.bin
labs/coursework/board/target.elf
labs/coursework/board/target.map
labs/coursework/board/target.hex
labs/coursework/scope/traces.dat
labs/coursework/scope/.ipynb_checkpoints/
labs/coursework/board/target
labs/coursework/scope/dan-traces.dat
labs/coursework/scope/my-traces.dat
labs/coursework/scope/mask-traces.dat
labs/coursework/scope/.DS_Store
.DS_Store
.vscode